<h1>Share your knowledge. Publish a research.</h1>
<%= simple_form_for @research do |f| %>
  <%= f.input :title %>
  <%= f.input :category %>
  <%= f.input :description %>
  <%= f.input :author %>
  <%= f.input :body %>
  <%= f.button :submit, "Publish Research", class: "btn btn-lg btn-success-outline" %>
<% end %>
